.page{
  display: flex;
  background: #F1F3F6;
  min-height: 100vh;
  justify-content: center;
}

.firstBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F1F3F6;
}
.secondBlock{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
  background: #F1F3F6;
}

.description{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #77787B;
  text-shadow: 0px 2px 80px #FFFFFF;
  margin-bottom: 5%;
}

.start{
  cursor: pointer;
  width: 311px;
  height: 53px;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000001;
  background: #F1F3F6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 26.5px;
  outline:none;
}

.start:active{
  background: #FFFFFF;
}

@media screen and (max-width: 1200px){
  .page{
    flex-direction: column;
  }
  .logo{
    width: 200px;
  }
  .illustration{
    width: 250px;
  }
  .description{
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .start{
    width: 250px;
  }
  .secondBlock{
    width: 100%;
  }
}