.page{
  display: flex;
}

.feed{
  background-color: #F1F3F6;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

@media screen and (max-width: 1200px)
{
  .page{
    flex-direction: column;
  }
  .feed{
    align-items: center;
  }
}
@media screen and (max-width: 800px)
{
  .feed{
    flex-direction: column;
  }
}