.page{
  margin: 0px 5% 5% 5%;
}

.post{
  background: #F1F3F6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 340px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 3% 3% 0% 3%;
}

.user{
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #111212;
  text-shadow: 0px 2px 80px #FFFFFF;
}

.userPic{
  border-radius: 20px;
}

.date{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #77787B;
  text-shadow: 0px 2px 80px #FFFFFF;
}

.picture{
  margin: 5% 2%;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin: 1% 5%;
}

.icons{
  width: 50px;
  display: flex;
  justify-content: space-between;
  text-outline: none;
}

.like{
  fill: #77787B;
  cursor: pointer;
}
.likeActive{
  fill: #1D6CE3;
  cursor: pointer;
}
.comment{
  fill: #F1F3F6;
  cursor: pointer;
}

.comments{
  display: flex;
}
.commentReady{
  fill: #77787B;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 3px;
}

.writeComment{
  background: #F1F3F6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
}

.none{
  display: none;
}

.write{
  width: 280px;
  margin: 10px;
  padding: 5px;
  background: #F1F3F6;
}

.send{
  cursor: pointer;
  margin-top: 15px;
  margin-right: 5px;
  width: 10px;
  height: 15px;
}
.com{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.comUser{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #111212;
  text-shadow: 0px 2px 80px #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px){
  .picture{
    width: 300px;
  }
  .post{
    height: 350px;
    width: 320px;
  }
}
@media screen and (max-width: 800px) {
  .post {
    height: 320px;
  }
  .write {
    width: 250px;
  }
}
@media screen and (max-width: 400px){
  .picture{
    width: 210px;
    margin-left: 7%;
  }
  .post{
    height: 250px;
    width: 240px;
  }
  .write {
    width: 190px;
  }
}