.page{
  display: flex;
  background: #F1F3F6;
  min-height: 100vh;
  justify-content: center;
}

.firstBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F1F3F6;
  text-align: left;
}

.newUser{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #000001;
  margin-bottom: 5%;
}

.create{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-shadow: 0px 2px 80px #FFFFFF;
  color: #000001;
  margin-bottom: 5%;
}
.secondBlock{
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #F1F3F6;
}

.createButton{
  cursor: pointer;
  width: 311px;
  height: 53px;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000001;
  background: #F1F3F6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 26.5px;
  outline:none;
}
.createButton:active{
  background: #FFFFFF;
}

.label{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #77787B;
  margin-bottom: 2%;
}

.string{
  padding-left: 10px;
  width: 327px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 5%;
}

.none{
  display: none;
}

.errorLabel{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: red;
  margin-bottom: 2%;
}

.photo{
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: block;
  background: white;
  border-radius: 60px;
}

.upload{
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.thumb{
  display: inline-flex;
  border-radius: 60px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.login{
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #1F6EE3;
  text-shadow: 0px 2px 80px #FFFFFF;
  cursor:pointer;
  margin-top: 5%;
}

.login:hover{
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .page {
    flex-direction: column;
  }
  .newUser{
    margin-bottom: 2%;
  }
  .create{
    margin-bottom: 2%;
  }
  .firstBlock{
    margin-bottom: 5%;
  }
  .secondBlock{
    margin-left: 0%;
    align-items: center;
    justify-content: left;
    text-align: left;
  }
  .label{
    margin-bottom: 1%;
  }
  .string{
    width: 250px;
    margin-bottom: 2%;
  }
  .createButton{
    width: 250px;
  }
}