.card{
  display: flex;
  background: #F1F3F6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 10px 10px 24px #DDE2EE, -10px -10px 24px #FFFFFF, inset 0px 0px 20px rgba(0, 0, 0, 0.04), inset -20px -20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 344px;
  height: 96px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.photo{
  margin: 10px;
}

.info{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.send{
  cursor: pointer;
  margin-top: 10%;
  margin-right: 20px;
  width: 10px;
  height: 15px;
}

.gray{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #727377;
  text-shadow: 0px 2px 80px #FFFFFF;
}

.black{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0F1010;
  text-shadow: 0px 2px 80px #FFFFFF;
}

@media screen and (max-width: 600px){
  .card{
    width: 260px;
  }
}