.page{
  display: flex;
}
.pet{
  background-color: #F1F3F6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
}

.header{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #000001;
  text-shadow: 0px 2px 80px #FFFFFF;
  margin-left: 2%;
  margin-top: 2%;
}

.littleHeader{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #111212;
  text-shadow: 0px 2px 80px #FFFFFF;
  margin-left: 2%;
  margin-top: 2%;
}

.container{
  margin-left: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.add{
  margin-left: 10%;
  width: 164px;
  height: 164px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
}

@media screen and (max-width: 1200px) {
  .page {
    flex-direction: column;
  }
  .pet{
    align-items: center;
  }
  .add{
    position: relative;
    bottom: 80px;
    margin-top: 5%;
  }
}

@media screen and (max-width: 800px)
{
  .pet{
    flex-direction: column;
  }
}