
.mainPage {
  display: flex;
  flex-direction: row;
}

.navigation {
  min-width: 250px;
  min-height: 100vh;
  background-color: #D1FFFD;
  display: flex;
  flex-direction: column;
}

.menuBlock {
  width: 100%;
  height: 70px;
  background: #D1FFFD;
  font-family: Futura PT;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
  margin-left: 22px;
}

.link {
  fill: #E5E6E8;
  text-decoration: none;
  color: black;
}

.selected {
  fill: #1D6CE3;
  color: #1D6CE3;
  height: 70px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
}

@media screen and (max-width: 1200px){
  .navigation{
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    margin-top: 0px;
    position:fixed;
    bottom:0;
    min-height: 0vh;
  }
  .menuBlock{
    padding-right: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33vw;
  }
  .selected{
    padding-right: 0%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25vw;
  }
  .selected::before{
    display: none;
  }
  .mainPage{
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .menuName{
    display: none;
  }
  .menuBlock {
    padding-right: 0%;
  }
  .selected{
    padding-right: 0%;
    min-width: 0;
  }
}
